name: .NET

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 10.0.x
      - name: pdfcpu
        run: |
          curl -sL https://github.com/pdfcpu/pdfcpu/releases/download/v0.6.0/pdfcpu_0.6.0_Linux_x86_64.tar.xz | tar xJ
          chmod +X ./pdfcpu_0.6.0_Linux_x86_64/pdfcpu
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: |
          export PDFCPU_PATH=$(pwd)/pdfcpu_0.6.0_Linux_x86_64/pdfcpu
          dotnet test --no-build --verbosity normal --filter FullyQualifiedName\!~ImageTests

